<!-- 

Setup the index.handlebars to have the template that Handlebars can render onto. 

Create a button in index.handlebars that will submit the user input into the database.

-->
<div class='center'>

  <img src="/assets/img/food.png" alt="burger" id='burger-img'>

  <div class='burger-status'>

    <div class='burgers-to-eat'>
      <h2>Eat</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>
                {{burger_name}}
                <div class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
                Devour It!
                </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class='burgers-eaten' id="devoured">  
      <h2>Eaten</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
            {{burger_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>



  </div>

  <h2>Add'a Burger!</h2>

  <form class='center'>

    <div class="form-group">
      <input placeholder="Type here" type="text" id="newBurger" burger="burger">
    </div>

    <div class="submit">Add!</div>
  </form>
</div>
